@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: #000;
}

nav {
    max-width: 100%;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(24, 3, 2, 0.562), rgba(51, 24, 24, 0.315));
    background-color: rgb(2, 72, 23);
}

.nav-logo img {
    width: 100px;
    filter: brightness(1.2);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.link a {
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.link a:hover {
    background-color: #72A074;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to top, rgba(24, 3, 2, 0.562), rgba(51, 24, 24, 0.315));
    background-color: rgb(2, 72, 23);
}

.footer-content {
    text-align: center;
}

.footer-content p {
    color: #fff;
    margin-bottom: 0.5rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.social-links li a {
    color: #84B489;
    font-size: 1.25rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links li a:hover {
    color: #35ff49;
}

.abrir-menu,
.nav-mediaq .cerrar-menu {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #84B489;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #72A074;
}

.modal-exito {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (width < 725px) {
    .abrir-menu {
        display: block;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-mediaq {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(24, 3, 2, 0.562), rgba(51, 24, 24, 0.315));
        background-color: rgb(2, 72, 23);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        z-index: 5;
    }

    .nav-mediaq.active {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-end;
    }

    .link a {
        border: none;
        color: #fff;
        transition: all 0.3s ease;
    }

    .link a:hover {
        background-color: transparent;
        text-decoration: underline;
    }
    
    .nav-mediaq .cerrar-menu {
        display: block;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .abrir-menu,
    .nav-mediaq .cerrar-menu {
    cursor: pointer;
    }
}